<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'employer:employer_analytics' %}">
        Analytics
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'employer:employer_create_job' %}">
            Create Job
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'employer:employer_job_list' %}">
            My Job Lists
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'employer:employer_applicant_list' %}">
            Applicant Lists
        </a>
    </li>
</ul>