<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_analytics' %}">
        Analytics
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_analytics' %}">
        Job Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_analytics' %}">
        Employer Lists
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_analytics' %}">
        Applicant Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_analytics' %}">
        User Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_create_skill' %}">
            Add Skills
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'super_admin:super_admin_skill_list' %}">
            All Skills
        </a>
    </li>
</ul>