{% load common_tags %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center 
        gap-2 
        {% is_active 'super_admin_analytics' %}" 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_analytics' %}"
        >
        Analytics
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center gap-2 " 
        aria-current="page"
        href="{% url 'super_admin:super_admin_analytics' %}"
        >
        Job Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center 
        gap-2 " 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_analytics' %}"
        >
        Employer Lists
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center 
        gap-2 
        {% is_active 'super_admin_applicant_list' %}" 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_applicant_list' %}"
        >
        Applicant Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center gap-2 " 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_analytics' %}"
        >
        User Lists
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center 
        gap-2 
        {% is_active 'super_admin_create_skill' %}" 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_create_skill' %}"
        >
        Add Skills
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link 
        d-flex 
        align-items-center 
        gap-2 
        {% is_active 'super_admin_skill_list' %}" 
        aria-current="page" 
        href="{% url 'super_admin:super_admin_skill_list' %}"
        >
        All Skills
        </a>
    </li>
</ul>