{% extends "dashboard/dashboard_base.html" %}
{% load static crispy_forms_tags %}
{% block dashboard_content %}
<div class="card mx-auto">
    <div class="card-header card-header-primary">
        <h4 class="card-title" style="font-size: 20px;">Your Profile</h4>
    </div>
    <div class="card-body">
        <div id="error-messages" class="alert alert-danger" style="display: none;"></div>
        <form method="post" novalidate enctype="multipart/form-data" class="needs-validation">
            {% csrf_token %}
            {{ applicant_user_form|crispy }}
            {{ applicant_profile_form|crispy }}
            <input type="submit" class="btn btn-primary btn-sm w-100">
        </form>
    </div>
</div>
{% endblock dashboard_content %}

{% block dashboard_extra_js %}
<script src="{% static 'dashboard/applicant/applicant_profile.js' %}"></script>
{% endblock dashboard_extra_js %}
