{% extends "dashboard/dashboard_base.html" %}
{% load hitcount_tags humanize static %}
{% block dashboard_extra_css %}
<style>
    .fabutton {
        background: none;
        padding: 0px;
        border: none;
    }
    .add{
        border-radius: 20px;
        width: 100px;
    }
</style>
{% endblock dashboard_extra_css %}
{% block dashboard_content %}
<div class="card mx-auto">
    <div class="card-header card-header-primary">
      <h4 class="card-title" style="font-size: 20px;">Update Job</h4>
    </div>
    <div class="card-body">
      <form method="post" id="job_form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_job_title" class="form-label">Job title:</label>
          {{form.job_title}}
        </div>
  
        <div class="mb-3">
          <label for="id_role" class="form-label">Role:</label>
          {{form.role}}
        </div>
  
        <div class="mb-3">{{job_description|safe}}
          <label for="id_job_description" class="form-label">Job description:</label>
          {{form.job_description|safe}}{{form.media}}
        </div>
  
        <div class="mb-3">
          <label for="id_experience" class="form-label">Experience required:</label>
          {{form.experience}}
        </div>
  
        <div class="text_format">
          <div class="mb-3">
            <label for="id_salary" class="form-label">Salary:</label>
            {{form.salary}}
          </div>
        </div>
  
        <div class="mb-3">
          <label for="id_no_of_openings" class="form-label">No of openings:</label>
          {{form.no_of_openings}}
        </div>
  
        <div class="mb-3">
          <label for="id_industry" class="form-label">Industry:</label>
          {{form.industry}}
        </div>
  
        <div class="mb-3">
          <label for="id_functional_area" class="form-label">Functional area:</label>
          {{form.functional_area}}
        </div>
  
        <div class="mb-3">
          <label for="id_country" class="form-label">Country:</label>
          {{form.country}}
        </div>
  
        <div class="mb-3">
          <label for="id_place" class="form-label">Place:</label>
          {{form.place}}
        </div>
  
  
        <div class="mb-3">
          <label for="id_skills1" class="form-label">Skill required:</label>
          <ul class="list-group list-group-horizontal mb-1 d-flex flex-wrap field_wrapper1">
          {% for skill in job.skills.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <input type="hidden" id="{{skill.name}}" name="skills" value="{{skill.id}}"><h6><span class="badge bg-success mx-1">{{skill.name}}</span></h6><a href="javascript:void(0);" class="remove_button"><i class="fa fa-trash text-danger"></i></a>
           </li>
          {% endfor %}
           </ul>   
  
         <input type="search" class="form-control" id="id_skills1" name="id_skills1" placeholder="Enter Skill">
        </div>
        <div class="mb-3">
          Add to recommended jobs: {{form.recommended_job}}
        </div>
        <div class="mb-3">
          Publish: {{form.publish}}
        </div>
         <button type="button" id="btnjobPreview" class="thm-btn" data-bs-toggle="modal" data-bs-target="#jobPrevModal"><span>Preview</span></button>
         <button type="submit" class="thm-btn w-100 mt-1"><span>Submit</span></button>
    </form>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="jobPrevModal" tabindex="-1" aria-labelledby="jobPrevModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="jobPrevModalLabel">Preview job post</h5>
          <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                   <div id="divcontentPreview"></div> 
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock dashboard_content %}
{% block dashboard_extra_js %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard/validation.js' %}"></script>
<script src="{% static 'js/dashboard/job_preview_update.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'js/dashboard/skills_add.js' %}"></script>
{% endblock dashboard_extra_js %}